li:hover{
	opacity:0.5;
}

.productList p{
	display: flex;	
	
	margin-left: 10px;
}

.productList img{
	width: 75px;
	height: 75px;
	display: flex;
	
}

.productList li{
	min-width:300px;
	heigth:80px;
	display: flex;	
}

@media screen and (max-width: 768px) {
	nav ul()
}

.productList div{
	display: flex;
	justify-content: flex-start;
}

.productList li:nth-child(even){
	background: #e8e8e8;	
}

.productList li:nth-child(odd){
	background: #eadbc7;	
}