.start{
}

.searchArea{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
.searchTerm{
    width: 400px;
    border-radius: 4px;
    height: 25px;
}

.searchArea:nth-child(2){
    height: 30px;
}

.slogan{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.slogan:first-child{
    font-size: 20px;
}

.aboutAndadvertising{
    display: flex;
    justify-content: space-around;
}

.aboutAndadvertising div{
    width: 350px;
}

.ad{
    width: 350px;

}