.start{
}

.searchArea{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
.searchTerm{
    width: 400px;
    border-radius: 4px;
    height: 25px;
}

.searchArea:nth-child(2){
    height: 30px;
}

.slogan{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #e8e8e8;
}

.slogan:first-child{
    font-size: 20px;
}

.aboutAndadvertising{
    display: flex;
    flex-direction: row;
    background-color: #e8e8e8;
    width: 100%
}
.aboutAndadvertising div{
    width: 100%;
    padding-left: 10px;
}

.ad{
    width: 100%;
    padding-right: 10px;

}
