html{
  position: relative;
  min-height: 100%
}

body{
  margin: 0px;
}

.fixed_header {
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 150px;
  background-color: white;
}

.header_main{
  background-color: #ced1cc;
  top: 0px;
  width: 100%;
  height: 100px;
}
.header_main > img {
 position: relative;
 top: 50%;
 transform: translateY(-50%);
 left: 5%;
 }

 .menu_bar{
   background-color: #3A678F;
   width: 100%;
   height: 50px;
 }

 .link{
   float: left;
   margin-right: 5%;
   margin-left: 2%;
   line-height:50px;
   height:50px;
 }

 .link > a {
 }

 .fixed_header + section{
   margin-top: 160px;
 }

main{
  margin-top: 160px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

.info{
  border-top: 1px outset black;
  border-bottom: 1px outset black;
  padding-left: 1%;
  padding-right: 9%;
  margin-left: 5%;
  margin-right: 3%;
}

.info > p {
  width: 75%;
}

.contact_form{
  margin-top: 35px;
  padding-right: 15%;
  padding-left: 10%;
}

fieldset > textarea {
  width: 90%;
}

footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #ced1cc;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.trademark{
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.trademark > p {
  text-align: center;
}
