@media screen and (max-width: 768px) {
    section{
        font-size: large;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }

    .menu_bar{
        font-size:large;

    }
    .menu_bar>div{
        height: inherit;
        background-color: #ED9C2D;
        width:auto;
        margin-right: 3%;
    }

    .cart{
      display: flex;
      position: absolute;
      right: 0;
    }

    .mainCode{
        width:100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 180px;
    }

    .cart{
        position: relative;
    }
}

@media screen and (max-width:443px) {


    .menu_bar {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        font-size: large;
        background-color: inherit;
        height: auto;

    }

    .menu_bar > div{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-right: 0;
    }


    .mainCode{
        padding-top: 220px;
    }

    .cart{
        background-color: #ED9C2D;
        position: relative;
    }

    .mainCode p, fieldset, button, input{
        font-size: x-large;
    }

    #checkout-form:first-of-type div, #checkout-form:last-of-type fieldset
    {
     display: flex;
        flex-direction: column;
    }
}
